<h1>
  Common Foods
  <%= link_to 'New Common Food', new_food_record_path, class: 'btn common' %>
</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Points</th>
      <th>Weight</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @food_records.each do |food_record| %>
      <tr>
        <td><%= food_record.name %></td>
        <td><%= food_record.points %></td>
        <td><%= food_record.weight %></td>
        <td><%= link_to 'x', food_record, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn delete' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
